<li class="list-group-item d-flex justify-content-between align-items-center">
  <form action='/toggleAdmin/' method="post">
    <input type="hidden" name="id" value="<%=user._id%>">
    <input type="hidden" name="newRole" value="<%=user.user_type == 'admin' ? 'user' : 'admin'%>">

    <%if (user.user_type == 'admin') {%>
    <button class="btn btn-danger" type="submit">
      <%=user.user_type == 'admin' ? 'Remove Admin' : 'Make Admin'%>
    </button>
    <%} else {%>
    <button class="btn btn-success" type="submit">
      <%=user.user_type == 'admin' ? 'Remove Admin' : 'Make Admin'%>
    </button>
    <%}%>

    <label class="">
      <%=user.username%> : <%=user.email%> <span class="badge bg-primary"> <%=user.user_type%>
      </label>
  </form>
</li>